.boxnav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider1 {
  height: 90vh;
  background-image: url("../../../assets/image/headerSlider/sliderImg1.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  cursor: grab;
}

.slider2 {
  height: 90vh;
  background-image: url("../../../assets/image/headerSlider/sliderImg2.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  cursor: grab;
}
.slider3 {
  height: 90vh;
  background-image: url("../../../assets/image/headerSlider/sliderImg3.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  cursor: grab;
}

.slider4 {
  height: 90vh;
  background-image: url("../../../assets/image/headerSlider/sliderImg1.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  cursor: grab;
}
.overlowHidden {
  overflow: hidden;
  padding-bottom: 1px;
  display: flex;
  justify-content: left;
  padding-left: 10%;
  font-family: cursive;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  margin: 20pz auto; */
}
.overlowHidden img {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  margin-bottom: 25px;
}

.overlowHidden .title h1 {
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
  letter-spacing: -5px;
  color: #1f3332;
  font-weight: 600;
  text-align: center;
}
.overlowHidden p {
  text-align: center;
  font-size: 19px;
  color: #8d9494;
  margin-bottom: 25px;
}
.overlowHidden button {
  background-color: #272727;
  color: white;
  border-radius: 100px;
  border-width: 1px;
  padding: 16px 32px;
  font-family: cursive;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}
.overlowHidden button:hover {
  background-color: #e4f2f0;
  color: #1f3332;
  border-width: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.container .items {
  text-align: center;
}
.container .items .icons .hover {
  border-radius: 50%;
  /* z-index: 1; */
  width: 117px;
  height: 117px;

  border: 2px dashed #e5f1f0;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .items .icons .hover ::before {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* transition: 0.5s;
  animation: animate 4s linear infinite; */
}
.container .items .icons .hover ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 0;
}

.container .items .icons .hover :hover::after {
  animation: animate 7s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .items .icons .hover .icon {
  width: 100px;
  height: 100px;
  background-color: #e5f1f0;
  border-radius: 50%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .items .categories {
  text-decoration: none;
  color: #8d9494;
  font-family: cursive;
}

.box1 {
  min-height: 300px;
  background-image: url("../../../assets/image/bestchoice/bestchoiceImg1.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box2 {
  min-height: 300px;
  background-image: url("../../../assets/image/bestchoice/bestchoiceImg2.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.box3 {
  min-height: 300px;
  background-image: url("../../../assets/image/bestchoice/bestchoiceImg3.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.box1 .titles,
.box2 .titles,
.box3 .titles {
  /* padding-left: 10px; */
  overflow: hidden;
  padding-bottom: 1px;
}
.titles h2 {
  font-family: cursive;
  padding-left: 10px;
  margin-bottom: 15px;
  letter-spacing: -2px;
  color: #1f3332;
}

.titles p {
  font-size: 16px;
  color: #545656;
  margin-bottom: 15px;
}

.titles button {
  background-color: #272727;
  color: white;
  border-radius: 40px;
  border-width: 1px;
  padding: 8px 15px;

  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}
.titles button:hover {
  background-color: #e0dbdb;

  color: #1f3332;
  border-width: 2px;
}
.cardd {
  position: relative;
}

.cardd img {
  height: 290px;
  width: 280px;
  object-fit: cover;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.cardd:hover img {
  filter: blur(4px);
  transform: scale(1.1);
}

.heart {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  opacity: 0;
  z-index: 500;
  top: 10px;
  right: 13px;
  transition: opacity 0.3s ease;
}

.cardd:hover .heart {
  opacity: 1;
}
.addtoCart {
  position: absolute;
  opacity: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 14px;
  transition: opacity 0.3s ease;
}
.cardd:hover .addtoCart {
  opacity: 1;
}

.containerCards {
  background-image: url("https://wn9omz0g55pl0w56-52485554369.shopifypreview.com/cdn/shop/files/demo-kids-toy-bg-img-01.jpg?v=1698815628");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.titleBest {
  text-align: center;
  font-family: cursive;
}
.titleBest h3 {
  color: #1f3332;
  font-size: 35px;
  margin-bottom: 10px;
}
.titleBest p {
  font-family: cursive;
  color: #262626;
}
.containerAge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  font-family: cursive;
}
.containerAge h3 {
  font-size: 25px;
}
.containerAge .items {
  text-align: center;
}
.containerAge .items .icons .age1 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg1.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .icons .age2 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg2.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .icons .age3 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg3.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .icons .age4 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg4.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .icons .age5 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg5.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .icons .age6 {
  border-radius: 50%;
  /* z-index: 1; */
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/image/childAge/ageImg6.avif");

  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.containerAge .items .categoriesAge {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
}
.containerPopularCards {
  margin-bottom: 100px;
}
.threeCards {
  margin-bottom: 70px;
}

.threeCards .one {
  min-height: 75vh;
  background-image: url("../../../assets/image/threecards/cardImg1.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: center;
}
.threeCards .one .links {
  text-decoration: none;
}
.threeCards .one .title h2 {
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  color: #262626;
  margin-bottom: 15px;
}
.threeCards .one .title p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: #808080;
  margin-bottom: 15px;
}
.threeCards .one .title button {
  background-color: #272727;
  color: white;
  border-radius: 100px;
  border-width: 1px;
  padding: 16px 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.threeCards .one .title button:hover {
  background-color: #e4f2f0;
  color: #1f3332;
  border-width: 2px;
}

.threeCards .two {
  min-height: 75vh;
  background-image: url("../../../assets/image/threecards/cardImg2.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.threeCards .two .links {
  text-decoration: none;
}
.threeCards .two .title h2 {
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  color: #262626;
  margin-bottom: 15px;
}
.threeCards .two .title p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: #1f3332;
  text-decoration: underline;
  margin-bottom: 15px;
}
.threeCards .two .title button {
  background-color: #272727;
  color: white;
  border-radius: 100px;
  border-width: 1px;
  padding: 16px 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.threeCards .two .title button:hover {
  background-color: #e4f2f0;
  color: #1f3332;
  border-width: 2px;
}

.threeCards .three {
  min-height: 75vh;
  background-image: url("../../../assets/image/threecards/cardImg3.webp");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.threeCards .three .links {
  text-decoration: none;
}
.threeCards .three .title h2 {
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  color: #262626;
  margin-bottom: 15px;
}
.threeCards .three .title p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  color: #1f3332;
  text-decoration: underline;
  margin-bottom: 15px;
}
.threeCards .three .title button {
  background-color: #272727;
  color: white;
  border-radius: 100px;
  border-width: 1px;
  padding: 16px 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.threeCards .three .title button:hover {
  background-color: #e4f2f0;
  color: #1f3332;
  border-width: 2px;
}

.sliderCoomet {
  margin-bottom: 100px;
}
.titleHappy {
  text-align: center;
  font-family: cursive;
}
.titleHappy h3 {
  color: #1f3332;
  font-size: 35px;
  margin-bottom: 10px;
}
.titleHappy p {
  font-family: cursive;
  color: #262626;
}
